* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}



header {
    background: #222;
    padding: 15px 8%;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00bcd4;
}



.home {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f2f2f2;
}

.home h1 {
    font-size: 45px;
}

.home span {
    color: #00a8cc;
}

.home h2 {
    margin: 10px 0;
}

.home p {
    margin-bottom: 25px;
}

.btn {
    background: #00a8cc;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}



section {
    padding: 70px 10%;
    text-align: center;
}

section h2 {
    margin-bottom: 25px;
    font-size: 30px;
}



.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    padding: 20px 40px;
    background: #222;
    color: white;
    border-radius: 8px;
}



.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project {
    padding: 30px;
    background: #f1f1f1;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: translateY(-8px);
}


form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 120px;
}

button {
    padding: 14px;
    background: #00a8cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #007c91;
}



footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home h1 {
        font-size: 32px;
    }

    .project-container {
        grid-template-columns: 1fr;
    }
}
